
#titre{
  width: 90%;
  margin: auto;
}
h1, h2,h3{
  text-align: center;
}

.exercice, .break{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  position: relative;
}

#exo, #break{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius:50%;
  height: 150px;
  border: 1px solid #000;
  margin: 20px 3%;
}

#remplissageExo, #remplissageBreak{
  position:absolute;
  height: 150px;
  width: 44%;
  opacity: 0.3;
  border-radius:50%;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRBv9h2t5Mg_CbRJSVsScLiuw1s7tbCWaAKvkUFnitK10MaVQu_3w");
  border: 1px solid #000;
  display: none;
}


.exercice img, .break img{
  width: 100px;
}
@media (min-width : 600px) {
  #break, #exo{
    width: 40%;
    height: 200px;
  }
  #remplissageExo, #remplissageBreak{
    height: 150px;
    width: 40%;
  }
}
@media (min-width : 800px) {
  #break, #exo{
    width: 30%;
    height: 200px;
  }
  #remplissageExo, #remplissageBreak{
    height: 150px;
    width: 30%;
  }
}
@media (min-width : 1000px) {
  #break, #exo{
    width: 20%;
    height: 200px;
  }
  #remplissageExo, #remplissageBreak{
    height: 150px;
    width: 20%;
  }
}

@media (min-width : 1200px) {
  #break, #exo{
    width: 18%;
    height: 250px;
  }
  #remplissageExo, #remplissageBreak{
    height: 250px;
    width: 18%;
  }
}
